body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  font-variant: normal;
  background-color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  width: auto;
  height: auto;
}

input, select, button, textarea {
  max-width: 100%;
}

meter, progress, output {
  max-width: 100%;
}

div#tswsidecol {
  float: right;
  width: 20%;
  color: rgb(255, 255, 255);
  background-color: black;
}

div#tswcontent {
  float: right;
  width: 80%;
  color: black;
  background-color: black;
}

@media only screen and ( max-width : 629px ) {
  div#tswsidecol {
    float: none;
    width: 100%;
  }
  div#tswcontent {
    float: none;
    width: 100%;
  }
}

div#tswcontproper {
  padding-left: 5px;
  padding-right: 5px;
}

div#tswcontainer {
  background-color: black;
}

div#tswsideproper, div#tswothersideproper {
  padding-left: 5px;
  padding-right: 5px;
}

div#tswheader {
  color: white;
  background-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#tswfooter {
  color: white;
  background-color: black;
}

#pirates {
  display: block;
  margin: auto;
}

#fff {
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: auto;
  right: auto;
}

#tswcontproper {
  color: white;
}

#tswcontainer {
  color: white;
}

#pirate {
  float: none;
}

input{
  color:white;
}